*{
  transition: 0.3s;
  color: #fff;
}
body{
  background-color: rgba(0, 0, 0, 1);
}
a{
  color:rgb(246, 247, 248); 
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(119, 118, 118, 0.2);
  border-radius: 50px;
}

.bg-color-cover {
  width: 100%;
  height: 100%;
  z-index: -4;
  position: absolute;
  overflow: hidden;
}
.bg-cover-img {
  width: 100%;
  height: 100%;
  filter: blur(45px);
  pointer-events: none;
}

.topBar-container {
  z-index: 5;
  display: flex;
  margin: 0% 5% 0% 5%;
  transition: 0.5s;
}
.logo-container {
  display: flex;
}
.logo-title {
  font-size: 2.2em;
  cursor: pointer;
  transition: 0.2s;
}
.logo-subtitle {
  padding-top: 12%;
  transition: 0.2s;
}
.searchBar-container {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.searchBar-input {
  width:300px;
  height: 30px;
  padding: 5px 5px 5px 10px;
  background-image: url('./views/assets/search-icon.png');
  background-position: 275px 5px; 
  background-size: 10%;
  background-repeat:no-repeat;
  font-size: 1em;
  transition: 0.2s;
}
.searchBar-input, .recommend-input {
  background-color: rgba(68, 68, 68, 0.274);
  border: 2px solid rgba(247, 242, 242, 0.288);
  border-radius: 5px;
}
.searchBar-input:hover, .searchBar-input:focus {
  background-size: 12%;
  background-position: 273px 1px;
}
.searchBar-input:hover, .searchBar-input:focus,
.recommend-input:hover, .recommend-input:focus {
  border: 2px solid rgba(247, 242, 242, 0.288);
  background-color: rgba(0, 0, 0, 0.2);
}

.body {
  margin: 1% 1% 0% 1%; 
  display: flex;
}

.recommendations-section {
  width: 360px;
  margin: 1% 1% 0% 0%;                                              
}
.recommendations-title, .searchResults-topBar p,
.searchResults-traverse-container, .songImage-image img {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.recommendations-title, .searchResults-topBar p, .searchResults-traverse-container, 
.searchResults-container, .audio-controls-container, .songImage-image img, 
.songDescription-container {
  background-color: rgba(0, 0, 0, 0.2);
  border: 2px solid rgba(247, 242, 242, 0.1);
}
.recommendations-title {
  width: 45%;
  padding: 1% 2% 1% 2%;
  text-align: center;
  font-size: 1em;                                                                                                                                                                                           ;
}
.recommendations {
  height: 550px;
  overflow: auto;
  direction: rtl;
  scrollbar-color: rgba(119, 118, 118, 0.2) transparent;
  scrollbar-width: thin;
}
.recommendations-item-container {
  display: flex;
  direction: ltr;
}
.recommendations-item-img, .recommendations-item-img-first {
  margin-left: 6%;
  transition: 0.5s;
  z-index: 2;
  border-radius: 5px;
}
.recommendations-item-img {
  margin-top: -20%;
}
.recommendations-item-img-first {
  margin-bottom: 18%;
}
.recommendations-item-img-first::after, .recommendations-item-img::after{
  position: relative;
  display: block;
  width: 125px;
  height: 121px;
  margin: -137px 0px 0px -14px;
  background-color: transparent;
  filter: blur(8px); 
  z-index: 1;
  content: ' ';
  border-radius: 5px;
  cursor: pointer;
}
.recommendations-item-img-first::after{
  border-top: 10px solid rgba(255, 215, 0, 0.9);
  border-bottom: 10px solid rgba(255, 215, 0, 0.9);
  border-left: 15px solid rgba(255, 215, 0, 0.9);
  border-right: 15px solid rgba(255, 215, 0, 0.9);
}
.recommendations-item-img::after {
  border-top: 10px solid rgba(146, 145, 141, 1);
  border-bottom: 10px solid rgba(146, 145, 141, 1);
  border-left: 15px solid rgba(146, 145, 141, 1);
  border-right: 15px solid rgba(146, 145, 141, 1);
}
.recommendations-item-img img, .recommendations-item-img-first img{
  position: relative;
  width: 130px;
  height: 130px;
  cursor: pointer;
  border-radius: 5px;
}
.recommendations-item-img:hover{
  margin-top: -35%;
  margin-bottom: 15%;
  animation: 4s;
}
.recommendations-item-description, .recommendations-item-description-first{
  height: auto;
  width: 0em;
  font-size: 0em;
  margin: 0px 10px 20px 10px;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 35px;
  border-top-right-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  transition: 0s;
}

.recommendations-item-img:hover ~ .recommendations-item-description, .recommendations-item-img-first:hover ~ .recommendations-item-description-first {
  width: 100%;
  font-size: 0.85em;
  border: 1px solid #fff;  
  transition: 0.2s;
  animation: 5s;
}
.recommendations-item-img:hover ~ .recommendations-item-description {
  margin: -25% 5% 25% 5%;
}
.recommendations-item-img-first:hover ~ .recommendations-item-description-first {
  margin: 0% 5% 38% 5%;
}

.searchResults {
  margin: 0 auto 0;
  width: 610px;
  height: 100%;
  transition: 0s;
}
.searchResults-topBar {
  display: flex;
  align-items: center;
}
.searchResults-topBar p{
  margin: 0;
  padding: 5px 0px 5px 10px;
  text-align: left;
  font-size: 1.5em;
  width: 30%;
}
.searchResults-traverse-container{
  margin: 0 -4px 0 auto;
  font-size: 1.5em;
  padding: 5px 10px 5px 10px;
}
.searchResults-topBar p, .searchResults-traverse-container {
  border-bottom: none;
}
.searchResults-traverse-container button{
  background-color: transparent;
  border: none;
  font-size: 1.2em;
  margin: 0 10px 0;
  cursor: pointer;
}
.searchResults-traverse-container button:hover, .searchResults-traverse-container button:focus{
  color: gray;
}
.searchResults-container {
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  width: 100%;
  height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
  direction: rtl;
  text-align: left;
  scrollbar-color: rgba(119, 118, 118, 0.2) transparent;
  scrollbar-width: thin;
  transition: 0s;
}
.searchResults-result,
.searchResults-result-chosen {
  padding: 2% 2% 3% 2%;
  font-size: 1.3em;
}
.searchResults-result:hover, .searchResults-result-chosen{
  background-color: rgba(0, 0, 0, 0.1);
  border-bottom-style: solid;
  border-width: 2px;
  border-bottom-color: rgba(247, 242, 242, 0.1);
  cursor: pointer;
  transition: 0s;
}

.songInfo {
  width: 520px;
  height: 630px;
  margin: 1% 5% 0% auto;
}
.songInfo-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.songImage-image {
  transition: 0.5s;
}
.songImage-image img {
  position: relative;
  z-index: 5;
  border-bottom: none;
  margin: -2px 0px 0px -2px;
}
.songImage-container, .songImage-image img {
  width: 298px;
  height: 299px;
  transition: 0s;
}
.songImage-image:hover {
  animation: 5s;
  transition: 0.5s;
  margin: 0px 0px 0px -22%;
}
.songImage-image:hover ~.songImage-image-vinyl img{
  animation: 5s;
  transition: 0.5s;
  margin: -100% 0% 12% 30%;
}
.songImage-image-vinyl img{
  transition: 0.5s;
  z-index: 0;
  width: 90%;
  height: 90%;
  margin: -100% 0% 12% 2%;
}

.audioPreview-unavailable {
  margin: 2% 0% 3% 0%;
}
.audio-controls-container {
  display: flex;
  justify-content: center;
  border-top: none;
  width: 298px;
  font-size: 25px;
  padding: 5px 0px 5px 0px;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.audio-play-container {
  margin-left: 60px;
}
.audio-play-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
}
.audio-play-btn:hover {
  color: rgba(177, 175, 175, 0.8);
}
.audio-volume-container {
  display: flex;
  justify-content: center;
  margin: 0px 35px 0px auto;
}
.audio-vol-icon-container {
  margin-right: 10px;
  cursor: pointer;
}
.audio-vol-icon-container:hover {
  color: rgba(177, 175, 175, 0.8);
}
.audio-volume-slide {
  background-color: #fff;
  width: 80px;
  margin-top: 5px;
  cursor: pointer;
}

.songDescription-container {
  border-radius: 5px;
  margin-top: 3%;
  padding: 10px 20px 15px 20px;
  text-align: center;
  width: 400px;
}
.songDescription-title {
  font-size: 25px;
  margin-top: 1%;
}
.songDescription-artists{
  margin: -8% 0% 0% 0%;
  display:flex;
  justify-content: center;
  overflow-x: auto;
  flex-wrap: wrap;
  line-height: 0;
}
.songDescription-info {
  text-align: left;
  background-color: rgba(119, 118, 118, 0.2);
  border: 1px solid rgba(247, 242, 242, 0.1);
  border-radius: 5px;
  width: auto;
  padding: 1px 4px 1px 20px;
}
.songDescription-info p{
  line-height: 1.8;
  font-size: 15px;
}
.songDrescription-info-subtitle {
  text-align: left;
}

.recommend-container {
  text-align: center;
  margin-top: 15px;
}
.recommend-input {
  margin-right: 1px;
  width: 140px;
  height: 15px;
  padding: 5px 5px 5px 4px;
  font-size: 13px;
}
.rcmnd-btn i {
  padding: 4px 0px 4px 0px;
}
.rcmnd-btn {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  outline: none;
}
.rcmnd-btn:hover > i, .rcmnd-btn:focus > i{
  color: red;
  cursor: pointer;
}