body{
  background-color: rgba(0, 0, 0, 1);
  color: #fff;
}
a{
  color:rgb(246, 247, 248); 
  text-decoration: none;
}
a:hover{
  color:rgb(37, 71, 184);
  text-decoration: underline;
}
.bg-color-cover {
  width: 100%;
  height: 100%;
  z-index: -4;
  position: absolute;
  overflow: hidden;
}
.bg-cover-img {
  width: 100%;
  height: 100%;
  filter: blur(45px)
}

.topBar-container {
  z-index: 5;
  display: flex;
  color: #fff;
  margin-left: 15%;
  margin-right: 15%;
}
.logo-container {
  display: flex;
}
.logo-title {
  font-size: 35px;
}
.logo-subtitle {
  padding-top: 12%;
}
.searchBar-container {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.searchBar-input {
  color: #fff;
  width:300px;
  height: 30px;
  border: none;
  border-bottom: 2px solid rgba(247, 242, 242, 0.288);
  padding: 5px;
  padding-left: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  background-image: url('./views/assets/search-icon.png');
  background-position: 275px 5px; 
  background-size: 10%;
  background-repeat:no-repeat;
  font-size: 13px;
}
.searchBar-input:hover {
  border: 2px solid rgba(247, 242, 242, 0.288);
  background-size: 11%;
}

.body {
  margin: 3% 4% 0% 4%;
  display: flex;
  justify-content: center;
}

.left-body {
  margin-right: 5%;
  margin-left: 2%;
  width: 610px;
  height: 630px;
}
.searchResults-container {
  border-radius: 2%;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.searchResults-result,
.searchResults-result-chosen {
  padding: 1% 2% 3% 2%;
  font-size: 24px;
}
.searchResults-result:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.searchResults-result-chosen{ 
  background-color: rgba(0, 0, 0, 0.1);
  border-bottom-style: solid;
  border-width: 2px;
  border-bottom-color: rgba(247, 242, 242, 0.1);
  cursor:default;
}

.right-body {
  width: 500px;
  height: 660px;
}
.songInfo-container {
  width: 100%;
  height: 100%;
  text-align: center;
}
.songImage-container {
  width: 300px;
  height: 300px;
  margin: 0% 20% 0% 20%;
  text-align: center;
}
.songImage-image {
  transition: 0.5s;
}
.songImage-image img {
  position: relative;
  z-index: 5;
}
.songImage-image:hover {
  animation: 5s;
  transition: 0.5s;
  margin: 0px 0px 0px -50%;
}
.songImage-image:hover ~.songImage-image-vinyl img{
  animation: 5s;
  transition: 0.5s;
  margin: -100% 0% 12% 28%;
}
.songImage-image-vinyl img{
  transition: 0.5s;
  z-index: 0;
  width: 95%;
  height: 95%;
  margin: -100% 0% 12% 0%;
}
.songDescription-container {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 2%;
  margin-top: 4%;
  margin-left: 15%;
  margin-right: 15%;
  padding: 10px 20px 10px 20px;
  text-align: center;
}
.songDescription-title {
  font-size: 25px;
  margin-top: 1%;
}
.songDescription-artists{
  margin-top: -13%;
  margin-left: -3px;
  display:flex;
  justify-content: center;
}
.songDescription-artists p a{
  color: rgb(255, 255, 255);
}
.songDescription-info {
  text-align: left;
  background-color: rgba(119, 118, 118, 0.2);
  border-radius: 2%;
  width: auto;
  padding: 1px 5px 1px 20px;
}
.songDescription-info p{
  line-height: 1.8;
  font-size: 15px;
}