@media screen and (max-width: 1750px) and (min-width: 1401px) {
    *{
        transition: 0.3s 
    }
    .bg-color-cover {
        width: 100%;
        margin: 0;
        padding: 0;
        top: 0;
        left: 0;
    }
    .logo-container {
        display: flex;
        background-color: aliceblue;
    }
    .logo-title {
        font-size: 28px;
    }
    .logo-subtitle {
        font-size: 13px;
    }
    .searchBar-input {
        width: 250px;
        height: 20px;
        background-position: 235px 2px; 
        font-size: 10px;
        transition: 0.2s;
    }
    .searchBar-input:hover, .searchBar-input:focus {
        background-size: 12%;
        background-color: rgba(0, 0, 0, 0.2);
        background-position: 232px 0px; 
    }

    .body {
        margin: 1% 1% 0% 1%; 
        overflow-y: hidden;
    }

    .recommendations-section {
        width: 320px;
        margin-right: 1px;                                         
    }
    .recommendations-title {
        width: 130px; 
        font-size: 15px                                                                                                                                                    ;
    }
    .recommendations {
        height: 490px;
        overflow-x: hidden;
    }
    .recommendations-item-img, .recommendations-item-img-first {
        margin-left: 10px;
        transition: 0.5s;
    }
    .recommendations-item-img-first::after, .recommendations-item-img::after{
        width: 105px;
        height: 111px;
        margin-top: -127px;
        margin-left: -15px;
    }
    .recommendations-item-img-first {
        margin-top: 1px;
        margin-bottom: 33px;
    }
    .recommendations-item-img img, .recommendations-item-img-first img{
        width: 115px;
        height: 115px;
    }
    .recommendations-item-img:hover{
        margin-left: 10px;
    }
    .recommendations-item-img:hover ~ .recommendations-item-description {
        width: 130px;
        font-size: 12px;
        margin: -70px 10px 95px 10px;
    }
      .recommendations-item-img-first:hover ~ .recommendations-item-description-first {
        width: 130px;
        font-size: 12px;
        margin: 0px 10px 100px 10px;
    }

    .searchResults {
        margin-top: 0%;
        margin-left: 0%;
        margin-right: 10%;
        width: 610px;
        height: 100%;
        transition: 0s;
    }
    .searchResults-subtitle {
        font-size: 21px;
        width: 90px;
    }
    .searchResults-container {
        width: 100%;
        height: 530px;
        transition: 0s;
    }
    .searchResults-result,
    .searchResults-result-chosen {
        font-size: 19px;
    }

    .songInfo {
        width: 550px;
        height: 550px;
        margin-top: 1%;
    }
    .songImage-container {
        transition: 0s;
    }
    .songImage-container, .songImage-image img {
        width: 250px;
        height: 250px;
    }

    .audioPreview-unavailable {
        margin-top: 1%;
        margin-bottom: 2%;
        font-size: 14px;
    }
    .audio-controls-container {
        width: 250px;
        font-size: 21px;
    }
    .audio-play-container {
        margin-left: 50px;
    }
    .audio-volume-container {
        margin-right: 15px;
    }
    .audio-vol-icon-container {
        margin-right: 5px;
    }

    .songDescription-container {
        width: 330px;
    }
    .songDescription-title {
        font-size: 22px;
        margin-top: 0px;
    }
    .songDescription-artists{
        margin-top: -12%;
        font-size: 15px;
    }
    .songDescription-info p{
        line-height: 1.6;
        font-size: 13px;
    }
    
    .recommend-label {
        font-size: 14px;
    }
    .recommend-input {
        width: 135px;
        height: 14px;
        font-size: 12px;
    }
    .rcmnd-btn {
        font-size: 18px;
    }
}

@media  screen and (max-width: 1400px) and (min-width: 1201px) {
    *{
        transition: 0.3s 
    }
    .logo-container {
        background-color: darkcyan;
    }

    .logo-title {
        font-size: 27px;
    }
    .logo-subtitle {
        font-size: 12px;
        padding-top: 13%;
    }
    .searchBar-input {
        width: 240px;
        height: 18px;
        background-position: 225px 2px; 
        font-size: 10px;
        transition: 0.2s;
    }
    .searchBar-input:hover, .searchBar-input:focus {
        background-size: 12%;
        background-color: rgba(0, 0, 0, 0.2);
        background-position: 223px 0px; 
    }

    .recommendations-section {
        width: 290px;
        margin-right: 1px;                                         
    }
    .recommendations-title {
        width: 123px; 
        font-size: 13px                                                                                                                                                    ;
    }
    .recommendations {
        height: 400px;
        overflow-x: hidden;
    }
    .recommendations-item-img, .recommendations-item-img-first {
        margin-left: 10px;
        transition: 0.5s;
    }
    .recommendations-item-img-first::after, .recommendations-item-img::after{
        width: 99px;
        height: 99px;
        margin-top: -114px;
        margin-left: -14px;
    }
    .recommendations-item-img-first {
        margin-top: 1px;
        margin-bottom: 33px;
    }
    .recommendations-item-img img, .recommendations-item-img-first img{
        width: 105px;
        height: 105px;
    }
    .recommendations-item-img:hover{
        margin-left: 10px;
    }
    .recommendations-item-img:hover ~ .recommendations-item-description {
        width: 130px;
        font-size: 11px;
        margin: -60px 10px 85px 10px;
    }
      .recommendations-item-img-first:hover ~ .recommendations-item-description-first {
        width: 130px;
        font-size: 11px;
        margin: 0px 10px 100px 10px;
    }

    .searchResults {
        margin-top: 0%;
        margin-left: 0%;
        margin-right: 4%;
        width: 650px;
        height: 100%;
        transition: 0s;
    }
    .searchResults-subtitle {
        font-size: 19px;
        width: 80px;
    }
    .searchResults-container {
        width: 100%;
        height: 430px;
        transition: 0s;
    }
    .searchResults-result,
    .searchResults-result-chosen {
        font-size: 17px;
    }

    .songInfo {
        width: 550px;
        height: 430px;
        margin-top: 1%;
    }
    .songImage-container {
        transition: 0s;
    }
    .songImage-container, .songImage-image img {
        width: 200px;
        height: 200px;
    }

    .audioPreview-unavailable {
        margin-top: 1%;
        margin-bottom: 2%;
        font-size: 13px;
    }
    .audio-controls-container {
        width: 200px;
        font-size: 18px;
    }
    .audio-play-container {
        margin-left: 40px;
    }
    .audio-volume-container {
        margin-right: 10px;
    }
    .audio-vol-icon-container {
        margin-right: 4px;
    }
    .audio-volume-slide {
        background-color: #fff;
        width: 75px;
        margin-top: 4px;
    }

    .songDescription-container {
        width: 300px;
        padding: 10px 15px 15px 15px;
    }
    .songDescription-title {
        font-size: 19px;
        margin-top: 0px;
    }
    .songDescription-artists{
        margin-top: -11%;
        font-size: 12px;
    }
    .songDescription-info {
        width: auto;
        padding: 0px 4px 0px 20px;
    }
    .songDescription-info p{
        line-height: 1.4;
        font-size: 11px;
    }
    
    
    .recommend-label {
        font-size: 12px;
    }
    .recommend-input {
        width: 135px;
        height: 12px;
        font-size: 10px;
    }
    .rcmnd-btn {
        font-size: 16px;
    }
}

@media screen and (max-width: 1200px) and (min-width: 1025px) {
    *{
        transition: 0.3s 
    }
    .logo-container {
        background-color: cyan;
    }

    .logo-title {
        font-size: 24px;
    }
    .logo-subtitle {
        font-size: 11px;
        padding-top: 13%;
    }
    .searchBar-input {
        width: 210px;
        height: 16px;
        background-position: 198px 2px; 
        font-size: 9px;
        transition: 0.2s;
    }
    .searchBar-input:hover, .searchBar-input:focus {
        background-size: 12%;
        background-color: rgba(0, 0, 0, 0.2);
        background-position: 196px 0px; 
    }

    .recommendations-section {
        width: 290px;
        margin-right: 1px;                                         
    }
    .recommendations-title {
        width: 109px; 
        font-size: 12px                                                                                                                                                    ;
    }
    .recommendations {
        height: 321px;
        overflow-x: hidden;
    }
    .recommendations-item-img, .recommendations-item-img-first {
        margin-left: 10px;
        transition: 0.5s;
    }
    .recommendations-item-img-first::after, .recommendations-item-img::after{
        width: 85px;
        height: 85px;
        margin-top: -105px;
        margin-left: -12px;
    }
    .recommendations-item-img-first {
        margin-top: 1px;
        margin-bottom: 33px;
    }
    .recommendations-item-img img, .recommendations-item-img-first img{
        width: 95px;
        height: 95px;
    }
    .recommendations-item-img:hover{
        margin-left: 10px;
    }
    .recommendations-item-img:hover ~ .recommendations-item-description {
        width: 110px;
        font-size: 10px;
        margin: -60px 10px 75px 10px;
    }
      .recommendations-item-img-first:hover ~ .recommendations-item-description-first {
        width: 110px;
        font-size: 10px;
        margin: 0px 10px 90px 10px;
    }

    .searchResults {
        margin-top: 0%;
        margin-left: -10%;
        margin-right: 4%;
        width: 650px;
        height: 100%;
        transition: 0s;
    }
    .searchResults-subtitle {
        font-size: 17px;
        width: 80px;
    }
    .searchResults-container {
        width: 100%;
        height: 350px;
        transition: 0s;
    }
    .searchResults-result,
    .searchResults-result-chosen {
        font-size: 15px;
    }

    .songInfo {
        width: 550px;
        height: 395px;
        margin-top: 1%;
    }
    .songImage-container {
        transition: 0s;
    }
    .songImage-container, .songImage-image img {
        width: 170px;
        height: 170px;
    }

    .audioPreview-unavailable {
        margin-top: 1%;
        margin-bottom: 2%;
        font-size: 11px;
    }
    .audio-controls-container {
        width: 170px;
        font-size: 15px;
    }
    .audio-play-container {
        margin-left: 30px;
    }
    .audio-volume-container {
        margin-right: 8px;
    }
    .audio-vol-icon-container {
        margin-right: 3px;
    }
    .audio-volume-slide {
        background-color: #fff;
        width: 60px;
        margin-top: 1px;
    }

    .songDescription-container {
        width: 250px;
    }
    .songDescription-title {
        font-size: 17px;
    }
    .songDescription-artists{
        margin-top: -12%;
        font-size: 11px;
    }
    .songDescription-info {
        padding: 0px 4px 0px 20px;
      }
    .songDescription-info p{
        line-height: 1.5;
        font-size: 8px;
    }

    .recommend-container {
        margin-top: 7px;
    }    
    .recommend-label {
        font-size: 10px;
    }
    .recommend-input {
        width: 100px;
        height: 9px;
        font-size: 8px;
    }
    .rcmnd-btn {
        font-size: 13px;
    }
}

@media screen and (max-width: 1024px) and (min-width: 851px) {
    .logo-container {
        background-color: green;
    }
    *{
        transition: 0.3s 
    }
    .logo-title {
        font-size: 20px;
    }
    .logo-subtitle {
        font-size: 10px;
        padding-top: 11%;
    }
    .searchBar-input {
        width: 180px;
        height: 14px;
        background-position: 168px 2px; 
        font-size: 8px;
        transition: 0.2s;
    }
    .searchBar-input:hover, .searchBar-input:focus {
        background-size: 12%;
        background-color: rgba(0, 0, 0, 0.2);
        background-position: 166px 0px; 
    }

    .recommendations-section {
        width: 215px;
        margin-right: 1px;                                    
    }
    .recommendations-title {
        width: 99px; 
        font-size: 10px                                                                                                                                                    ;
    }
    .recommendations {
        height: 270px;
        overflow-x: hidden;
    }
    .recommendations-item-img, .recommendations-item-img-first {
        margin-left: 10px;
        transition: 0.5s;
    }
    .recommendations-item-img-first::after, .recommendations-item-img::after{
        width: 75px;
        height: 75px;
        margin-top: -90px;
        margin-left: -13px;
    }
    .recommendations-item-img-first {
        margin-top: 1px;
        margin-bottom: 31px;
    }
    .recommendations-item-img img, .recommendations-item-img-first img{
        width: 80px;
        height: 80px;
    }
    .recommendations-item-img:hover{
        margin-left: 10px;
    }
    .recommendations-item-img:hover ~ .recommendations-item-description {
        width: 90px;
        font-size: 8px;
        margin: -70px 10px 75px 10px;
    }
      .recommendations-item-img-first:hover ~ .recommendations-item-description-first {
        width: 90px;
        font-size: 8px;
        margin: 0px 10px 80px 10px;
    }

    .searchResults {
        margin-top: 0%;
        margin-left: 0%;
        margin-right: 4%;
        width: 650px;
        height: 100%;
        transition: 0s;
    }
    .searchResults-subtitle {
        font-size: 14px;
        width: 70px;
    }
    .searchResults-container {
        width: 100%;
        height: 280px;
        transition: 0s;
    }
    .searchResults-result,
    .searchResults-result-chosen {
        font-size: 12px;
    }

    .songInfo {
        width: 550px;
        height: 305px;
        margin-top: 1%;
    }
    .songImage-container {
        transition: 0s;
    }
    .songImage-container, .songImage-image img {
        width: 130px;
        height: 130px;
    }
    .songImage-image:hover ~.songImage-image-vinyl img{
        animation: 5s;
        transition: 0.5s;
        margin: -140px 0px 30px 47px;
    }
    .songImage-image-vinyl img{
        transition: 0.5s;
        z-index: 0;
        width: 85%;
        height: 85%;
        margin: -140px 0px 30px  0px;
    }

    .audioPreview-unavailable {
        margin-top: 1%;
        margin-bottom: 2%;
        font-size: 9px;
    }
    .audio-controls-container {
        width: 130px;
        font-size: 12px;
        padding: 3px 0px 3px 0px;
    }
    .audio-play-container {
        margin-left: 20px;
    }
    .audio-volume-container {
        margin-right: 3px;
    }
    .audio-vol-icon-container {
        margin-right: 3px;
    }
    .audio-volume-slide {
        background-color: #fff;
        width: 50px;
        margin-top: -1px;
    }

    .songDescription-container {
        width: 230px;
        padding: 5px 12px 5px 12px;
    }
    .songDescription-title {
        margin-top: 0px;
        font-size: 14px;
    }
    .songDescription-artists{
        margin-top: -10%;
        font-size: 9px;
    }
    .songDescription-info {
        margin-top: -2px;
    }
    .songDescription-info p{
        line-height: 1.4;
        font-size: 8px;
    }

    .recommend-container {
        margin-top: 2px;
    }    
    .recommend-label {
        font-size: 9px;
    }
    .recommend-input {
        width: 90px;
        height: 8px;
        font-size: 7px;
    }
    .rcmnd-btn {
        font-size: 13px;
    }
}

@media screen and (max-width: 850px) and (min-width: 769px) {
    .logo-container {
        background-color: greenyellow;
    }
    *{
        transition: 0.3s 
    }
    .logo-title {
        font-size: 18px;
    }
    .logo-subtitle {
        font-size: 9px;
        padding-top: 11%;
    }
    .searchBar-input {
        width: 170px;
        height: 13px;
        background-position: 162px 2px; 
        font-size: 7px;
        transition: 0.2s;
    }
    .searchBar-input:hover, .searchBar-input:focus {
        background-size: 12%;
        background-color: rgba(0, 0, 0, 0.2);
        background-position: 160px 0px; 
    }

    .recommendations-section {
        width: 210px;
        margin-right: 1px;                                    
    }
    .recommendations-title {
        width: 95px; 
        font-size: 9px                                                                                                                                                    ;
    }
    .recommendations {
        height: 250px;
        overflow-x: hidden;
    }
    .recommendations-item-img, .recommendations-item-img-first {
        margin-left: 10px;
        transition: 0.5s;
    }
    .recommendations-item-img-first::after, .recommendations-item-img::after{
        width: 74px;
        height: 75px;
        margin-top: -90px;
        margin-left: -15px;
    }
    .recommendations-item-img-first {
        margin-top: 1px;
        margin-bottom: 31px;
    }
    .recommendations-item-img img, .recommendations-item-img-first img{
        width: 80px;
        height: 80px;
    }
    .recommendations-item-img:hover{
        margin-left: 10px;
    }
    .recommendations-item-img:hover ~ .recommendations-item-description {
        width: 75px;
        font-size: 7px;
        margin: -70px 10px 80px 10px;
    }
      .recommendations-item-img-first:hover ~ .recommendations-item-description-first {
        width: 75px;
        font-size: 7px;
        margin: 0px 10px 85px 10px;
    }

    .searchResults {
        margin-top: 0%;
        margin-left: -10px;
        margin-right: 2%;
        width: 650px;
        height: 100%;
        transition: 0s;
    }
    .searchResults-subtitle {
        font-size: 13px;
        width: 60px;
    }
    .searchResults-container {
        width: 100%;
        height: 270px;
        transition: 0s;
    }
    .searchResults-result,
    .searchResults-result-chosen {
        font-size: 11px;
    }

    .songInfo {
        width: 540px;
        height: 300px;
        margin-top: 1%;
    }
    .songImage-container {
        transition: 0s;
    }
    .songImage-container, .songImage-image img {
        width: 120px;
        height: 120px;
    }
    .songImage-image:hover ~.songImage-image-vinyl img{
        animation: 5s;
        transition: 0.5s;
        margin: -140px 0px 30px 47px;
    }
    .songImage-image-vinyl img{
        transition: 0.5s;
        z-index: 0;
        width: 85%;
        height: 85%;
        margin: -140px 0px 30px  0px;
    }

    .audioPreview-unavailable {
        margin-top: 1%;
        margin-bottom: 2%;
        font-size: 9px;
    }
    .audio-controls-container {
        width: 120px;
        font-size: 10px;
        padding: 4px 0px 2px 0px;
    }
    .audio-play-container {
        margin-left: 20px;
    }
    .audio-volume-container {
        margin-right: 3px;
    }
    .audio-vol-icon-container {
        margin-right: 3px;
    }
    .audio-volume-slide {
        background-color: #fff;
        width: 50px;
        margin-top: -2px;
    }

    .songDescription-container {
        width: 235px;
        padding: 5px 12px 5px 12px;
    }
    .songDescription-title {
        margin-top: 0px;
        font-size: 13px;
    }
    .songDescription-artists{
        margin-top: -9%;
        font-size: 9px;
    }
    .songDescription-info {
        margin-top: -2px;
    }
    .songDescription-info p{
        line-height: 1.5;
        font-size: 7px;
    }

    .recommend-container {
        margin-top: 2px;
    }    
    .recommend-label {
        font-size: 8px;
    }
    .recommend-input {
        width: 85px;
        height: 7px;
        font-size: 6px;
    }
    .rcmnd-btn {
        font-size: 10px;
    }
}

@media screen and (max-width: 768px) and (min-width: 481px) {
    .logo-container {
        background-color: yellow;
    }
}

@media screen and (max-width: 480px) and (min-width: 320px) {
    .logo-container {
        background-color: cadetblue;
    }
}