.container {
    margin-left: 2%;
    margin-right: 2%;
}

.container-header {
    display: inline-flex;
}

#container-header-title {
    font-size: 30px;
    font-weight: 500;
}

#container-header-subtitle {
    padding-top: 10%;
    font-weight: 400;
}